:root {
    --nav-colour-1: #524cb5;
    --nav-colour-2: #7470c4;
    --nav-colour-3: #95C2F4;
}

header {
    background-color: var(--nav-colour-1);
    height: 55px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255,255,255);
    z-index: 10;
    position: fixed;
    width:100vw;

}

.nav-container {
    background-color: var(--nav-colour-1);
    height: 60px;
    box-sizing: border-box;
    padding: 0 80px;
    padding: 0 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-logo a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.nav-logo img {
    max-width: 40px;
    max-height: 40px;
    display: block;
    width: auto;
    height: auto;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    
}

.nav-menu li {
    display: inline-block;
    position: relative;
}

.nav-menu li button,
.nav-menu li a {
    text-decoration: none;
    border: none;
    background: none;
    color: rgb(255,255,255);
    font-size: 16px;
}

.nav-submenu {
    display: none;
    position: absolute;
     left: 0;
    margin: 0;
    padding: 0;
    width: 135px;
    background-color: var(--nav-colour-1);
    overflow: hidden;
    z-index: 1;
}

.nav-menu li:hover .nav-submenu {
    display: block;
    background-color: var(--nav-colour-2);
}

.nav-menu li:hover button,
.nav-menu li .nav-submenu:hover {
    display: block;
}

.nav-menu li .nav-submenu a {
    color: #ffffff;
    font-size: 18px;
    width: 140px;
    text-decoration: none;
    display: block;
    padding: 8px 8px;
}

.nav-menu li .nav-submenu a:hover {
    background-color: var(--nav-colour-3);
    transition: background-color 0.3s ease;
}

.nav-user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-user .user-icon {
    position: relative;
    cursor: pointer;
}

.nav-user .user-icon i {
    color: #ffffff;
    font-size: 24px;
}

.nav-user .user-dropdown {
    font-size: 18px;
    display: none;
    position: absolute;
  
    left: 0;
    background-color: var(--nav-colour-2);
    width: 100px;
    z-index: 1;
}

.nav-user .user-dropdown a {
    display: block;
    padding: 8px 12px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-user .user-dropdown a:hover {
    background-color: var(--nav-colour-3);
}


.nav-user:hover .user-dropdown {
    display: block;
}

@media screen and (max-width: 768px) {
    header {
        height: 45px; 
    }

    .nav-container {
        height: 45px; 
        padding: 0 20px; 
    }

    .nav-logo a {
        font-size: 16px; 
    }

    .nav-menu li button {
        font-size: 14px; /* Adjust menu button font size */
    }

    .nav-menu li .nav-submenu {
        width: 120px; /* Adjust submenu width */
    }

    .nav-menu li .nav-submenu a {
        font-size: 14px; /* Adjust submenu link font size */
    }

    .nav-user .user-dropdown {
        font-size: 14px; /* Adjust user dropdown font size */
    }
}

body {
	overflow: auto;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: bolder;
    font-style: normal;
  }
h1 {
	font-family: Abril Fatface, serif;
	text-align: center;
	font-size: 50px;
	color: #524CB5;
	font-weight: bold;
}
h2 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
	font-size: 34px;
	color: #264e70;
	font-weight: bold;
}

h3 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: left;
	font-size: 23px;
	color: #524CB5;
	font-weight: normal;
	font-style: italic;
}
h4{
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: 24px;
	font-weight: normal;
	background-position: left center;
	background-image: none;
	background-repeat: no-repeat;
	color: #264e70;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #ffebd3;
	text-align: center;
	vertical-align: text-top;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-size: 15px;
	color: #264e70;
}

.page-head {
    height: 100vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url('meteor.svg');
}

.page-head h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

.page-head p {
    font-size: 60px;
    margin-top: 0px;;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page-head h1, .page-head p {
    animation: fadeInUp 1s ease forwards; 
}


@media screen and (max-width: 1050px) {
    .page-head h1 {
        font-size: 80px;
    }

    .page-head p {
        font-size: 45px;
    }
}

@media screen and (max-width: 840px) and (min-width: 601px) {
    .page-head h1 {
        font-size: 60px;
    }

    .page-head p {
        font-size: 35px;
    }
}

@media screen and (max-width: 600px) {
    .page-head h1 {
        font-size: 45px;
    }

    .page-head p {
        font-size: 28px;
    }
}


.page-body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    height: fit-content;
    width: 100%;
    padding: 90px 90px;
    background-color: #f5f0ea;;
    box-shadow: 0px 5px 8px 2px rgba(1, 1, 28, 0.25);
    overflow-x: hidden;
}

.flex-container {
  display: flex;
  
}


.talk-bubble {
	margin: 60px;
	margin-left:30px;
  display: inline-block;
  position: relative;
	width: 700px;
	height: auto;
	background-color:#EBF7E6;
}
.border{
  border: 8px solid #E3CED5;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid ;
	border-color:#E3CED5 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid #E3CED5;
	border-color: #EBF7E6 transparent transparent transparent;
}


.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{

  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  text-align:justify;
}


@media screen and (max-width:1200px){
	.talk-bubble{
		width:300px;
		height:auto;
		margin:20px auto;
		display:block;
	}
		
	.talktext p{
		font-size:10px;
		line-height:1.2;
	}
	
	img{
		max-width:50%;
		height:auto;
		margin:20px auto;
		display:block;
		
	}

}


.flex-container2 {
  display: flex;
  justify-content:space-between;
  margin-left:auto;
  margin-right:auto;
  
    
}

.our-team {
  padding: 40px 0 120px;
  margin-bottom: 30px;
  margin-left:auto;
  margin-right:auto;
  background-color: #f7f5ec;
  border:5px solid #E9AEBA;
  text-align: center;
  overflow: hidden;
  position: relative;
  width:250px;
}

.our-team .picture {
  display: inline-block;
  height: 60px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 100%;
  border:8px solid #E9AEBA;
  background-color:#E7DCE0;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}


.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
  text-align:center;
  font-weight:bold;
}

.our-team .name {
  display: block;
  font-size: 30px;
  color:#524CB5;
  text-transform: capitalize;
  text-align:center;
}


.our-team .bio {
  width: 100%;
  padding: 5px;
  margin: 10;
  background-color:#E3CED5;
  border-top:4px dotted red;
  position: absolute;
  bottom: -105px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .bio {
  bottom: 0;
}

.our-team .bio p {
  display: inline-block;
  text-align:center;
  font-size:14px;
}

.our-team .bio p a {
  display: block;
  padding: 5px;
  font-size: 12px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;

}

.our-team .bio p a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}


@media screen and (max-width: 768px) {
    .flex-container2 {
    	width:100%;
    	margin-left:auto;
    	margin-right:auto;
    	height:auto;
    	flex-direction:column;
    	display:flex;
        justify-content: space-between;
    }

}

@media screen and (max-width: 1200px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center; 
    }

    iframe,    
    .responsive image {
        width: 90%; 
        max-width: 100%; 
        height: auto;
        margin: 10px 0; 
    }
}


.flex-container3 {
    background-color:#524cb5;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
    background-color:#524cb5;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
    background-color:#524cb5;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}


.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #03b5d2;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

@media screen and (max-width: 1100px) {
  .container {
    width:100%;
     
  }
}